* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    /* justify-content: center; */
    /* gap: 20px; */
    /* position: relative; */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

p {
    margin-top: 7rem;
    font-size: 5rem;
    font-weight: 1000;
}

#btn {
    padding: 1.5rem 3.5rem;
    border-radius: 1.5rem;
    position: relative;
    transition: all 0.2s;
    background-color: black;
    display: flex;
    align-items: center;
}

#img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    position: absolute;

}

#sun {
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: yellow;
    top: 10px;
    left: 5px;
}

#moon {
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: grey;
    top: 10px;
    left: 80px;
}

.bg-color {
    background-color: black;
}

.para1 {
    color: rgb(0, 0, 0);
} 

.para {
    color: white;
}